body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
}
main {
  display: block;
}
#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: rgb(253, 253, 179, 0.45);
}
h1 {
  font-size: 4.5rem;
}
#img-div {
  background: rgba(173, 172, 172, 0.75);
  padding: 10px;
  margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
#headline {
    text-decoration: underline;
}
ul {
    max-width: 550px;
    margin: 0 auto 80px auto;
    text-align: left;
    line-height: 1.6;
}
li {
    margin: 18px 0;
}
hr {
    height: 0px;
    border: none;
    border-top: 3px dashed black;
    opacity: 0.3;
}
blockquote {
    font-size: 35px;
    font-style: italic;
    max-width: 545px;
    margin: 80px auto 80px auto;
    text-align: left;
}
.readmore {
    margin: 50px auto 50px auto;
}
a {
    color: #5da9e7;
}